.form-wrapper {
  display: grid;
  gap: 16px;
  margin-bottom: 24px;
}

.cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
