.step-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 0cap;
   border-bottom: 1.5px solid #eee;
  cursor: pointer;
  transition: background 0.2s ease;
}

.step-item-wrapper:hover {
  background: #f9f9f9;
}

.step-icon {
  font-size: 20px;
  margin-right: 12px;
}

.step-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.step-label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

.step-chip {
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 12px;
  display: inline-block;
  width: fit-content;
  text-transform: capitalize;
  color: white;
}

.completed {
  background-color: #2ecc71;
}

.in-progress {
  background-color: #e67e22;
}

.yet-to-start {
  background-color: #999;
}

.step-arrow {
  font-size: 18px;
  margin-left: 12px;
  color: #888;
}
.step-list {
  border-top: 2px solid #ccc; /* Light gray top line */
  padding-top: 16px;          /* Space below the top line */
  margin-top: 16px;           /* Optional spacing from title */
}