.accordion-container {
  border: 2px solid #ccc;
  border-radius: 16px;
  margin: 10px;
  background: #DCDCDC;
  padding: 16px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  cursor: pointer;
  background-color: #DCDCDC;

}

.accordion-body {
  background-color: #ffffff;
  padding: 10px; /* Remove all padding */
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  margin-top: 12px;
  overflow: hidden; /* Ensures inner content stays flush */
}

.accordion-body-content {
  padding: 16px; /* Add inner padding to form content */
}
